<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gitile.desktop.base.model.SysUser" >
	
	<resultMap id="userDtoMap" type="com.gitile.desktop.base.dto.UserDto">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="status" property="status" />
		<result column="dept_name" property="deptName" />
		<result column="position_name" property="positionName" />
		<result column="role_name" property="roleName" />
	</resultMap>
	
	<select id="pageListByCondition" resultMap="userDtoMap">
		SELECT
			su.id,
			sup.`name`,
			su.`status`,
			sup.sex,
			sr.`name` role_name,
			sd.`name` dept_name,
			sdp.`name` position_name
		FROM sys_user su
		LEFT JOIN sys_user_profile sup ON su.id=sup.id
		LEFT JOIN sys_role sr ON su.role_id=sr.id
		LEFT JOIN sys_dept sd ON sup.dept_id=sd.id
		LEFT JOIN sys_dept_position sdp ON sup.position_id=sdp.id
		<include refid="pageListByConditionWhere" />
		limit #{firstResult}, #{pageSize}
	</select>
	<select id="pageCountByCondition" resultType="int">
		SELECT count(su.id) FROM sys_user su
		LEFT JOIN sys_user_profile sup ON su.id=sup.id
		<include refid="pageListByConditionWhere" />
	</select>
	<sql id="pageListByConditionWhere">
		<where>
			<if test="condition.keyword != null and condition.keyword!=''">
				and ((su.username like concat('%',#{condition.keyword},'%')) or sup.`name` LIKE concat('%',#{condition.keyword},'%'))
			</if>
			<if test="condition.roleId != null and condition.roleId!=-1">
				and su.role_id = #{condition.roleId}
			</if>
			<if test="condition.status != null and condition.status!=-1">
				and su.`status` = #{condition.status}
			</if>
			<if test="condition.deptId != null and condition.deptId!=-1">
				and `status` = #{condition.searchStatus}
			</if>
		</where>
	</sql>

</mapper>